.admin-table.table .disabled{
	color: rgba(238, 127, 127, 0.69);
	text-decoration: line-through;
}
.admin-table.table .title{
	background-color: #eee;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
	background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
	background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
	background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
	background-image: linear-gradient(to bottom,#f2f2f2 0,#fafafa 100%);
	font-size: 12px;
	padding: 5px 0;
}

.group_modal_form__title {
	font-size: 18px;
	font-weight: 700;
	padding: 5px 0;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 10px;
}

.group_modal_form__list {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 320px;
}
.group_modal_form__list .form-group {
	margin-bottom: 5px;
}
.group_modal_form__label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	width: calc(100% - 205px);
}
.group_modal_form__description {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	padding-left: 5px;
	border-left: 1px solid #d5d5d5;
}
.restrict_group.active .fa-plus {
	color: green!important;
	cursor: pointer;
	vertical-align: baseline;
}
.restrict_group.active .fa-minus {
	color: red!important;
	cursor: pointer;
	vertical-align: baseline;
}
.restrict_group a img {
    height: 16px;
}

.url_ip {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	font-size: 0;
	margin: 0 2px 2px 0;
}
.url_ip a {
	font-size: 12px;
}
.group-ip-more {
	display: inline-block;
	vertical-align: top;
	padding: 3px 6px;
	line-height: 1;
	font-size: 12px;
	outline: 0 !important;
	margin-top: 3px;
}
