.admin-table-name {
    border-radius: 3px 3px 0 0;
    padding: 20px 10px;
    font-size: 18px;
    line-height: 1;
    background: #53a93f;
    color: #fff;
}
.direct {
    margin-bottom: 30px;
}

.c-checkbox .text:before {
    position: absolute;
    top: 2px;
    left: 0;
}
.c-checkbox .text {
    padding-left: 25px;
}
.c-block {
    border: 1px solid #d5d5d5;
    padding: 15px;
    margin-bottom: 30px;
}
.c-nav {
    margin-bottom: 30px;
}