.sortable {
	overflow: hidden;
}

/* The MIT License */
.dz-utils.dropzone,
.dz-utils.dropzone *,
.dz-utils.dropzone-previews,
.dz-utils.dropzone-previews * {
	box-sizing: border-box;
}

.dz-utils.dropzone .sortable {
	min-height: 85px;
}

.dz-utils.dropzone {
	position: relative;
	/*border: 1px solid rgba(0,0,0,0.08);*/
	/*background: rgba(0,0,0,0.02);*/
	padding: 1em;
	width: 100%;
	display: inline-table;
}

.dz-utils.dropzone_clear {
	clear: both;
}

.dz-utils.dropzone.dz-clickable {
	cursor: pointer;
}

.dz-utils.dropzone.dz-clickable .dz-message,
.dz-utils.dropzone.dz-clickable .dz-message span {
	cursor: pointer;
}

.dz-utils.dropzone.dz-clickable * {
	cursor: default;
}

.dz-utils.dropzone .dz-message {
	opacity: 1;
	text-align: center;
	margin: 0;
	font-size: 14px;
}

.dz-utils.dropzone.dz-drag-hover {
	border-color: rgba(0, 0, 0, 0.15);
	background: rgba(0, 0, 0, 0.04);
}

.dz-utils.dropzone.dz-started .dz-message {
	display: none;
}

.dz-utils.dropzone .dz-preview,
.dz-utils.dropzone-previews .dz-preview {
	background: transparent; /* rgba(255, 255, 255, 0.8); */
	position: relative;
	display: inline-block;
	margin: 5px 10px 5px 0;
	vertical-align: top;
	/*border: 1px solid #acacac;*/
	border: 0;
	padding: 0;
	width: 65px;
	height: 65px;
	min-height: 80px;
	float: left;
}

.dz-utils.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dz-utils.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
	display: none;
}

.dz-utils.dropzone .dz-preview .dz-details,
.dz-utils.dropzone-previews .dz-preview .dz-details {
	width: 65px;
	height: 65px;
	position: relative;
	background: #ebebeb;
	padding: 5px;
	border: 1px solid #acacac;
	margin-top: 15px;
	opacity: 1;
	/*margin-bottom: 22px;*/
}

.dz-utils.dropzone .dz-preview .dz-details .dz-filename,
.dz-utils.dropzone-previews .dz-preview .dz-details .dz-filename {
	overflow: hidden;
	height: 100%;
}

.dz-utils.dropzone .dz-preview .dz-details img,
.dz-utils.dropzone-previews .dz-preview .dz-details img {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 55px;
	height: 55px;
}

.dz-utils.dropzone .dz-preview .dz-details .dz-size,
.dz-utils.dropzone-previews .dz-preview .dz-details .dz-size {
	absolute: bottom -28px left 3px;
	height: 28px;
	line-height: 28px;
	display: none;
}

.dz-utils.dropzone .dz-preview.dz-error .dz-error-mark,
.dz-utils.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	display: block;
}

.dz-utils.dropzone .dz-preview.dz-success .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	display: block;
}

.dz-utils.dropzone .dz-preview:hover .dz-details img,
.dz-utils.dropzone-previews .dz-preview:hover .dz-details img {
	display: none;
}

.dz-utils.dropzone .dz-preview .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark,
.dz-utils.dropzone .dz-preview .dz-error-mark,
.dz-utils.dropzone-previews .dz-preview .dz-error-mark {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 30px;
	text-align: center;
	right: -10px;
	top: -10px;
}

.dz-utils.dropzone .dz-preview .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark {
	color: #8cc657;
}

.dz-utils.dropzone .dz-preview .dz-error-mark,
.dz-utils.dropzone-previews .dz-preview .dz-error-mark {
	color: #ee162d;
}

.dz-utils.dropzone .dz-preview .dz-progress,
.dz-utils.dropzone-previews .dz-preview .dz-progress {
	position: absolute;
	top: 80px;
	left: 6px;
	right: 6px;
	height: 6px;
	background: #d7d7d7;
	display: none;
}

.dz-utils.dropzone .dz-preview .dz-progress .dz-upload,
.dz-utils.dropzone-previews .dz-preview .dz-progress .dz-upload {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0%;
	background-color: #8cc657;
}

.dz-utils.dropzone .dz-preview.dz-processing .dz-progress,
.dz-utils.dropzone-previews .dz-preview.dz-processing .dz-progress {
	display: block;
}

.dz-utils.dropzone .dz-preview .dz-error-message,
.dz-utils.dropzone-previews .dz-preview .dz-error-message {
	display: none;
	absolute: top -5px left -20px;
	background: rgba(245, 245, 245, 0.8);
	padding: 8px 10px;
	color: #800;
	min-width: 140px;
	max-width: 500px;
	z-index: 500;
}

.dz-utils.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dz-utils.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	display: block;
}

.dz-utils.dropzone .dz-preview .dz-image {
	border-radius: 0;
	overflow: hidden;
	width: 65px;
	height: 65px;
	position: relative;
	/*display: block;*/
	z-index: 10;
	display: none;
}

.dz-utils.dropzone {
	border: 1px solid rgba(0, 0, 0, 0.03);
	min-height: 275px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*background: rgba(0,0,0,0.03);*/
	background: #e6e6fa;
	padding: 7px;
	margin-bottom: 5px;
}

.mainimage h3, .dz-utils.dropzone h3 {
	margin-top: 7px;
}

.dz-utils.dropzone h3 {
	display: table-caption;
}

/*.dz-utils.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}*/
.dz-utils.dropzone .dz-default.dz-message span {
	/*display: none;*/
}

.dz-utils.dropzone.dz-square .dz-default.dz-message {
	background-position: 0 -123px;
	width: 268px;
	margin-left: -134px;
	height: 174px;
	margin-top: -87px;
}

.dz-utils.dropzone.dz-drag-hover .dz-message {
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
}

.dz-utils.dropzone.dz-started .dz-message {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.dz-utils.dropzone .dz-preview,
.dz-utils.dropzone-previews .dz-preview {
	/*-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);*/
	/*box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);*/
	font-size: 14px;
}

.dz-utils.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dz-utils.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
	display: block;
	/*opacity: 0.1;*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";*/
	/*filter: alpha(opacity=10);*/
}

.dz-utils.dropzone .dz-preview.dz-success .dz-success-mark {
	top: 22px;
	left: 62px;
}
.dz-utils.dropzone .dz-preview.dz-success .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.dz-utils.dropzone .dz-preview:hover .dz-success-mark {
	opacity: 0;
}

.dz-utils.dropzone .dz-preview.dz-error .dz-error-mark,
.dz-utils.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.dz-utils.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dz-utils.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
	background: #ee1e2d;
}

.dz-utils.dropzone .dz-preview .dz-error-mark,
.dz-utils.dropzone-previews .dz-preview .dz-error-mark,
.dz-utils.dropzone .dz-preview .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	/*background-image: url("../images/sprite.png");*/
	/*background-repeat: no-repeat;*/
}
.dz-utils.dropzone .dz-preview .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark {
	width: 30px;
	height: 30px;
	top: 30px !important;
	right: 15px !important;
	left: auto !important;
	color: #8cc657;
	background-color: transparent;
	font-size: 30px !important;
	margin: 0;
}
.dz-utils.dropzone .dz-preview .dz-success-mark:after,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark:after {
	content: "\f00c";
	display: inline-block;
	vertical-align: top;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}

.dz-utils.dropzone .dz-preview .dz-error-mark span,
.dz-utils.dropzone-previews .dz-preview .dz-error-mark span,
.dz-utils.dropzone .dz-preview .dz-success-mark span,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark span {
	display: none;
}

.dz-utils.dropzone .dz-preview .dz-error-mark,
.dz-utils.dropzone-previews .dz-preview .dz-error-mark {
	background-position: 0 -80px;
}

.dz-utils.dropzone .dz-preview .dz-success-mark,
.dz-utils.dropzone-previews .dz-preview .dz-success-mark {
	background-position: 0 -40px;
}

.dz-utils.dropzone .dz-preview .dz-progress .dz-upload,
.dz-utils.dropzone-previews .dz-preview .dz-progress .dz-upload {
	-webkit-animation: loading 0.4s linear infinite;
	-moz-animation: loading 0.4s linear infinite;
	-o-animation: loading 0.4s linear infinite;
	-ms-animation: loading 0.4s linear infinite;
	animation: loading 0.4s linear infinite;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-image: url("../images/spritemap.png");
	background-repeat: repeat-x;
	background-position: 0px -400px;
}

.dz-utils.dropzone .dz-preview.dz-success .dz-progress,
.dz-utils.dropzone-previews .dz-preview.dz-success .dz-progress {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.dz-utils.dropzone .dz-preview .dz-error-message,
.dz-utils.dropzone-previews .dz-preview .dz-error-message {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.dz-utils.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dz-utils.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.dz-utils.dropzone a.dz-remove,
.dz-utils.dropzone-previews a.dz-remove {
	font-size: 0;
	text-decoration: none;
	display: block;
	/*width: 40px;*/
	/*height: 40px;*/
	position: absolute;
	opacity: 0;
	/*background-image: url("../images/sprite.png");*/
	/*background-position: 0 0;*/
	/*top: -5px;*/
	/*right: -10px;*/
	transition: opacity 0.4s ease-in-out;
	z-index: 501;
	cursor: pointer;
	/*text-indent: 100%;*/
	white-space: nowrap;
	overflow: hidden;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 5px;
	border-radius: 4px;
	color: #fff;
	background-color: rgba(255, 3, 15, 0.9);
	text-align: center;
}
.dz-utils.dropzone a.dz-remove:after,
.dz-utils.dropzone-previews a.dz-remove:after {
	content: "\f00d";
	display: inline-block;
	vertical-align: top;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: 12px !important;
	text-rendering: auto;
	margin-top: 4px;
}

.dz-utils.dropzone .dz-preview:hover a.dz-remove,
.dz-utils.dropzone-previews .dz-preview:hover a.dz-remove {
	opacity: 1;
}
.dz-success-mark svg {
	display: none !important;
}

@-moz-keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
}

@-webkit-keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
}

@-o-keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
}

@keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
}

input.dz-checkbox {
	opacity: 1;
	position: absolute;
	top: 3px;
	left: 8px;
}
