.caption a.click {
	/*cursor: pointer;*/
	/*text-decoration: underline;*/
}
.seo_field > .caption .seo_link {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.seo_field > .caption .seo_remove {
	font-size: 18px;
	color: #f00;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 16px;
	top: 19px;
}