/*.print_card_view .btn {*/
	/*height: 32px;*/
/*}*/

.print_card_view .btn .btn-label {
	margin: -7px 12px -9px -2px;
}

#wrapper-list {
	display: none !important;
}

.print_card_order {
	display: none;
}

.print_card_order, .print_card_order td {
	font-family: Arial, Verdana, Tahoma, sans-serif;
	font-size: 9pt;
	padding: 3pt!important;
	background-color: #FFFFFF;
	color: #000000;
}

.print_card_order h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold !important;
}

.print_card_order .main_div {
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}

.print_card_order .td_main {
	border-top: black 1px solid;
	border-left: black 1px solid;
}

.print_card_order .td_header {
	border-left: black 1px solid;
	border-top: black 1px solid;
	border-bottom: black 1px solid;
	text-align: center;
	font-weight: bold;
}

.print_card_order .td_main_2 {
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.print_card_order .tr_footer td {
	font-size: 11pt;
	font-weight: bold;
	white-space: nowrap;
}

.print_card_order table, .widget-body td {
	empty-cells: show;
}

.order_item_cell .warehouse_items{
	background: yellow;
}

@media print {
	/**:not(.printed) {*/
	/*display: none !important;*/
	/*}*/
	.main-container * {
		display: none !important;
	}

	.navbar {
		display: none;
	}

	#wrapper-list {
		display: block !important;
	}

	#wrapper-list .btn {
		display: none !important;
	}

	#wrapper-list table,
	#wrapper-list td,
	#wrapper-list th {
		border-color: #000 !important;
	}

	.print_card_view {
		display: none!important;
	}
	.print_card_order {
		display: block!important;
		page-break-after: always;
	}
}
