.hostcmsWindow iframe {
	height: 99%!important;
}
.backendBody .ui-dialog {
    z-index: 10001!important;
}
.hostcmsPanel {
	padding: 2px 4px 7px 4px!important;
	border-radius: 2px!important;
	box-shadow: 0 0 1px rgba(100, 100, 100, 0.60);
	z-index: 125!important;
}
.hostcmsPanel,
.superadmin .hostcmsPanel
{
	/*display: block!important;*/
}
.hostcmsPanel.cls-show,
.superadmin .hostcmsPanel.cls-show{
	display: block !important;
}
.hostcmsPanel.cls-hide,
.superadmin .hostcmsPanel.cls-hide {
	display: none !important;
}
.togglePanel {
	height: 28px!important;
}

.customAdminItem {
	font-size: 12px !important;
	text-align: left !important;
	/*cursor: default !important;*/
}
.js-sortableitem {
	cursor: move;
	height: 10px;
	width: 10px;
}
.customAdminItem .hostcmsSubPanel {
	margin-bottom: 0 !important;
}
.customAdminItem .hostcmsSubPanel img {
	margin-right: 3px !important;
}
.customAdminItem .panel_place,
.customAdminItem .counts_key {
	display: inline-block;
	position: relative;
	vertical-align: top;
	min-width: 25px;
	max-width: 45px;
	text-align: center;
	flex-shrink: 0;
}
.customAdminItem .counts_key .reserve {
	display: inline-block;
}
.customAdminItem .panel_place span,
.customAdminItem .counts_key span {
	display: block;
	line-height: 18px;
}

.customAdminItem .hostcmsSubPanel:not(.warehouses) {
	display: none;
}
.customAdminItem {
	width: auto !important;
	height: auto !important;
	transition: background 150ms ease;
}
.customAdminItem:hover {
	z-index: 126 !important;
	background: #fff !important;
}
/*.customAdminItem.is-subpanel-open {*/
/*background: rgba(255, 255, 255, 1);*/
/*}*/
.customAdminItem.is-subpanel-open .hostcmsSubPanel {
	display: flex;
	justify-content: flex-start;
}
.customAdminItem.is-subpanel-open img.js-togglesubpanel {
	transform: rotate(180deg);
}
.customAdminItem .hostcmsSubPanel a {
	padding: 0 !important;
	border-radius: 2px !important;
	margin-right: 4px !important;
}


.simpleuser .hostcmsPanel.cls-hide,
.simpleuser .hostcmsPanel.cls-show {
	display: none !important;
}
.simpleuser .hostcmsPanel.customAdminItem.cls-show {
	display: block !important;
}
.simpleuser .hostcmsPanel.customAdminItem.cls-hide {
	display: none !important;
}
.hostcmsPanel.customAdminItem.cls-show {
	/*background: RGBA(0, 0, 0, .1);*/
	background: rgba(255, 255, 255, 0.8);
}
/*.hostcmsPanel.customAdminItem .warehouses {*/
/*background: rgba(255, 255, 255, 0.8);*/
/*}*/
.adm_prefix {
	white-space: nowrap;
}
.adm_prefix div {
	display: inline-block !important;
	vertical-align: top;
	font-size: smaller;
}
.adm_prefix span {
	/*display: inline-block !important;*/
	vertical-align: top;
	line-height: normal !important;
}
.counts_key {
	text-decoration: none !important;
}
.hostcmsPanel .hostcmsSubPanel a.counts_key {
	display: inline-block!important;
}
.customAdminItem {
	margin-top: 0 !important;
}
.customAdminItem .hostcmsXsl {
	margin: 2px 0;
	overflow: hidden;
}
.customAdminItem .hostcmsSubPanel a img {
	margin: 0 1px 0 0 !important;
}
.customAdminItem .hostcmsSubPanel > a {
	display: inline-block!important;
	vertical-align: text-bottom;
	/*vertical-align: top;*/
	/*width: 16px;*/
	min-width: 16px;
}
.customAdminItem .hostcmsSubPanel > .panelSpan {
	vertical-align: super;
}
.customAdminItem .hostcmsSubPanel > a.sales_key,
.customAdminItem .hostcmsSubPanel > a.salesused_key {
	font-weight: bold;
	color: black;
}
/*.customAdminItem .hostcmsSubPanel > a.salesused_key {*/
/*	font-weight: bold;*/
/*	color: black;*/
/*}*/
.hostcmsPanel.customAdminItem {
	padding: 1px 4px 6px;
	border-radius: 3px;
}
.hostcmsPanel.customAdminItem .hostcmsWindow {
	overflow: hidden;
}
.hostcmsPanel.customAdminItem .hostcmsWindow.warehouse {
	margin-top: 0;
}
.hostcmsWindow.warehouses .icons {
	display: inline-block;
	vertical-align: top;
	width: 20px;
}
.hostcmsWindow.warehouses .icons .js-togglesubpanel {
	margin-left: 3px;
}
.hostcmsWindow.warehouses .icons a {
	display: block!important;
}
.hostcmsWindow.warehouses > a {
	min-width: 14px;
	margin-top: 6px;
}
.hostcmsWindow.warehouses > a[data-value="0"] {
    display: none!important;
}
/*-- TogglePanel --*/
.hostcmsPanel {
    padding: 6px 4px 7px 4px!important;
    border-radius: 2px!important;
    box-shadow: 0 0 1px rgba(100, 100, 100, 0.60);
    z-index: 125!important;
    /*display: none!important;*/
}
.hostcmsPanel,
.superadmin .hostcmsPanel,
.hostcmsSectionWidgetPanel,
.hostcmsSectionPanel,
.drag-handle
{
    /*display: block!important;*/
}
.hostcmsPanel.cls-show,
.superadmin .hostcmsPanel.cls-show,
.hostcmsSectionWidgetPanel.cls-show,
.hostcmsSectionPanel.cls-show,
.drag-handle.cls-show,
.customToggle.cls-show{
    display: block !important;
    text-align: left;
}
.hostcmsPanel.cls-hide,
.superadmin .hostcmsPanel.cls-hide,
.hostcmsSectionWidgetPanel.cls-hide,
.hostcmsSectionPanel.cls-hide,
.drag-handle.cls-hide,
.customToggle.cls-hide{
    display: none !important;
}
.togglePanel .hostcmsSubPanel {
    cursor: pointer;
    overflow: hidden;
}
/*.togglePanel {*/
    /*height: 22px!important;*/
/*}*/
.togglePanel {
	left: 50%;
	top: 0px;
	position: fixed;
	/* height: 16px; */
	z-index: 20000!important;
	margin-left: -170px;
}
/*=================================*/
.uinformer {
	position: fixed;
	z-index: 9090;
	top: 10px;
	right: 30px;
	width: 270px;
	padding: 20px;
	-webkit-animation: animate 250ms ease-in;
	animation: animate 250ms ease-in;
	text-align: center;
	background: #fff;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
	margin: 0 auto;
}

.adminForm .minimized .tab-content {
	padding: 5px;
}
.adminForm .minimized .form-group {
	margin-bottom: 5px;
}
.adminForm .minimized .form-control {
	height: 26px;
}
.adminForm .minimized .form-control, .adminForm .minimized select {
	padding: 0px 5px;
}
.adminForm .minimized .input-group-addon {
	padding: 5px;
}
/*.adminForm .minimized .checkbox-inline span {*/
	/*display: none;*/
/*}*/
.adminForm .minimized .row {
	margin-left: -5px;
	margin-right: -5px;
}
.adminForm .minimized .col-xs-1, .adminForm .minimized .col-sm-1, .adminForm .minimized .col-md-1, .adminForm .minimized .col-lg-1,
.adminForm .minimized .col-xs-2, .adminForm .minimized .col-sm-2, .adminForm .minimized .col-md-2, .adminForm .minimized .col-lg-2,
.adminForm .minimized .col-xs-3, .adminForm .minimized .col-sm-3, .adminForm .minimized .col-md-3, .adminForm .minimized .col-lg-3,
.adminForm .minimized .col-xs-4, .adminForm .minimized .col-sm-4, .adminForm .minimized .col-md-4, .adminForm .minimized .col-lg-4,
.adminForm .minimized .col-xs-5, .adminForm .minimized .col-sm-5, .adminForm .minimized .col-md-5, .adminForm .minimized .col-lg-5,
.adminForm .minimized .col-xs-6, .adminForm .minimized .col-sm-6, .adminForm .minimized .col-md-6, .adminForm .minimized .col-lg-6,
.adminForm .minimized .col-xs-7, .adminForm .minimized .col-sm-7, .adminForm .minimized .col-md-7, .adminForm .minimized .col-lg-7,
.adminForm .minimized .col-xs-8, .adminForm .minimized .col-sm-8, .adminForm .minimized .col-md-8, .adminForm .minimized .col-lg-8,
.adminForm .minimized .col-xs-9, .adminForm .minimized .col-sm-9, .adminForm .minimized .col-md-9, .adminForm .minimized .col-lg-9, 
.adminForm .minimized .col-xs-10, .adminForm .minimized .col-sm-10, .adminForm .minimized .col-md-10, .adminForm .minimized .col-lg-10, 
.adminForm .minimized .col-xs-11, .adminForm .minimized .col-sm-11, .adminForm .minimized .col-md-11, .adminForm .minimized .col-lg-11, 
.adminForm .minimized .col-xs-12, .adminForm .minimized .col-sm-12, .adminForm .minimized .col-md-12, .adminForm .minimized .col-lg-12 {
	padding-right: 5px;
	padding-left: 5px;
}
.adminForm .minimized .accordion.panel-group {
	margin-bottom: 5px;
}
.adminForm .minimized .accordion.panel-group .panel-heading .accordion-toggle {
	padding: 5px 10px;
}
.adminForm .minimized .accordion.panel-group .panel-body {
	border: none;
	padding: 5px 10px;
}
.adminForm .minimized .accordion.panel-group .panel-heading .accordion-toggle:after {
	right: 10px;
	top: 3px;
}
.adminForm .minimized .btn {
	padding: 5px 6px;
}
.adminForm .minimized .accordion.panel-group .panel-heading .accordion-toggle {
	border-bottom: 1px solid #ddd;
}
.adminForm .minimized .accordion.panel-group .panel-heading .accordion-toggle.collapsed {
	border-bottom: none;
}
/*.adminForm .minimized .text {*/
	/*font-size: 0;*/
/*}*/

@media (max-width: 767px) {
	.uinformer {
		right: 10px;
		left: 10px;
		width: auto;
	}
}
.uinformer:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.uinformer__message {
	color: #000000;
	display: inline-block;
	vertical-align: middle;
	width: 99%;
	font-size: 14px;
	line-height: 1;
}
.uinformer_success {
	background: #81cb6d;
}
.uinformer_error {
	background: #ed7b6e;
}
/*.admin-table.table .lev1 {*/
	/*padding-left: 20px;*/
/*}*/
.admin-table.table .left {
	text-align: left;
}
.admin-table.table .right {
	text-align: right;
}
.backendBody .hostcmsSection .hostcmsSectionPanel, .backendBody .hostcmsSection .hostcmsSectionWidgetPanel {
	left: inherit!important;
	right: 0!important;
	top: 25px;
	z-index: 100!important;
}
.backendBody .hostcmsSection .hostcmsSectionWidget .drag-handle {
	z-index: 100!important;
}
#ControlElements {
	clear: both;
}

.artedit #editArtWindow .sticky-actions {
	position: static !important;
}

.hostcmsSectionWidgetPanel span[onclick*="deleteWidget"],
.hostcmsSectionWidgetPanel span[onclick*="changeActive"]{
	display: none !important;
}
#tab-managers .hostcmsPanel {
	right: 0;
	left: auto;
	top: 0;
}

.prprice_key img[src*="prprint.gif"] {
	width: 16px !important;
	height: 16px !important;
}

.hostcmsPanel.togglePanel {
	margin-left: 0;
	left: 3px;
	top: 7px;
}
.hostcmsPanel.togglePanel span.js-skynet-send-data.is-wait {
	cursor: default;
	pointer-events: none;
	overflow: hidden;
	position: relative;
}
.hostcmsPanel.togglePanel span.js-skynet-send-data.is-wait:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	display: inline-block;
	height: 100%;
	width: 100%;
	animation: moveWait 2s linear infinite;
	background-image: linear-gradient(-45deg, rgba(230, 230, 230,.8) 25%, transparent 25%, transparent 50%, rgba(230, 230, 230,.8) 50%, rgba(230, 230, 230,.8) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
}
.sbMetrikaWrapper table {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}
.sbMetrikaWrapper td,
.sbMetrikaWrapper th {
	text-align: left;
	border: 1px solid #dedede;
	padding: 3px;
	font-size: 12px;
	line-height: 1.2;
	vertical-align: middle;
}
@keyframes moveWait{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}