input[type="text"],
input[type="password"],
textarea {
    border: 1px solid #c4c4c4;
    height: 30px;
    padding: 6px 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
    background: #fff;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    border-radius: 4px;
    margin: 0;
    outline: 0;
}
textarea {
    min-height: 65px;
    resize: vertical;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #69bdf9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07),0 0 8px rgba(104, 189, 247, 0.6);
}

input[type="text"].error,
textarea.error {
    border-color: #e4514f;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07);
}
input[type="text"].error:focus,
textarea.error:focus {
    border-color: #c64a48;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.07),0 0 5px #ce8483;
}

.btn {
    font: inherit;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    padding: 0 5px;
    color: #545454;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    box-sizing: border-box;
}
.btn:hover,
.btn:active {  background: #ededed;  }

.btn.gray {
    vertical-align: top;
    background: #ddd;
}
.btn.gray:hover,
.btn.gray:active { background: #ededed; }

.btn.red {
    color: #fff;
    background-color: #f0463b;
    background-image:    -moz-linear-gradient( 90deg, #ce3d32 0%, #f0463b 100%);
    background-image: -webkit-linear-gradient( 90deg, #ce3d32 0%, #f0463b 100%);
    background-image:     -ms-linear-gradient( 90deg, #ce3d32 0%, #f0463b 100%);
    text-shadow: -1px -1px 0 #96261d;
    border: 0;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
}
.btn.red:hover,
.btn.red:active {  background: #ce3d32;  }

.btn.blue {
    color: #fff;
    background-color: #30abfa;
    background-image:    -moz-linear-gradient( 90deg, #2990d7 0%, #30abfa 100%);
    background-image: -webkit-linear-gradient( 90deg, #2990d7 0%, #30abfa 100%);
    background-image:     -ms-linear-gradient( 90deg, #2990d7 0%, #30abfa 100%);
    text-shadow: -1px -1px 0 #15688c;
    border: 0;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
}
.btn.blue:hover,
.btn.blue:active {  background: #2990d7;  }

.btn.disabled,
.btn[disabled=disabled]{
    color: #fff;
    background-color: #a9a9a9;
    background-image:    -moz-linear-gradient( 90deg, #989898 0%, #a9a9a9 100%);
    background-image: -webkit-linear-gradient( 90deg, #989898 0%, #a9a9a9 100%);
    background-image:     -ms-linear-gradient( 90deg, #989898 0%, #a9a9a9 100%);
    text-shadow: -1px -1px 0 #6d6d6d;
    cursor: default;
    border: 0;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
}
.btn[disabled=disabled]:hover {
    background-color: #a9a9a9;
    background-image:    -moz-linear-gradient( 90deg, #989898 0%, #a9a9a9 100%);
    background-image: -webkit-linear-gradient( 90deg, #989898 0%, #a9a9a9 100%);
    background-image:     -ms-linear-gradient( 90deg, #989898 0%, #a9a9a9 100%);
}

.add_price .btn {  margin-left: 5px;  }

.basket input[type=text] {
    width: 100%;
}
.basket b {
    font-size: 13px;
}
.basket .small {
    font-size: 11px;
}

span.error {
    position: absolute;
    top: 20px;
    right: 0;
    background: #c64a48;
    display: block;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    border-radius: 4px;
    padding: 2px 7px;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1;
}


/*width*/
.width1 {
    display: block;
    width: 300px;
    position: relative;
    margin-bottom: 5px;
}
.width3 {
    display: inline-block;
    width: 30%;
    margin-left: 3%;
    position: relative;
}
.width3:first-child {
    margin-left: 0;
}
form .row {
    /*position: relative;*/
    /*margin-bottom: 10px;*/
}
form .row:after{
    content: '';
    display: table;
    clear: both;
}
form .label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 2px;
}
form .input {
    width: 100%;
}
.feedback_form .half {
    float: left;
    width: 91px;
}
form .half+.half {
    margin-left: 5px;
}
.feedback_form {
    height: 200px;
}
.feedback_form textarea {
    resize: none;
}
.feedback_form input[type=text] {
    width: 100%;
}
.feedback_form span.error {
    top: 0;
}
.feedback_form .row {
    margin-bottom: 5px;
}

/*search*/
.wrap_search {
    background: #f1efe9;
    border-radius: 4px;
    border: 1px solid #dfdfd5;
    padding: 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.wrap_search.main_search {
    margin: 0 0 20px 0;
}
.wrap_search.page_search {
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
}
.wrap_search h3 {
    font-size: 18px;
    color: #363636;
    float: left;
    margin: 8px 4px 0 0 !important;
}
.wrap_search fieldset {
    width: 50%;
    float: left;
}
.wrap_search input[type=text] {
    width: 430px;
    height: 28px;
    border-radius: 0;
}
.wrap_search.main_search input[type=text] {
    width: 80%;
}
.wrap_search.main_search .btn {
    width: 18%;
}

.wrap_search .moto_animate {
    background: #fff;
    border: 1px solid #c4c4c4;
    height: 30px;
    width: 770px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    float: left;
}
.wrap_search.main_search .moto_animate {
    width: 510px;
}
.moto_animate .moto {
    position: absolute;
    top: -1px;
    left: 0;
    height: 31px;
    width: 66px;
    display: block;
    background: url("../images/moto_anim.png");
    z-index: 2;
}
.moto_animate .moto_gradient {
    background-image:    -moz-linear-gradient( 0deg, rgba(71,71,71,1) 0%, rgba(71,71,71,.5) 70%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgba(71,71,71,1) 0%, rgba(71,71,71,.5) 70%, rgba(255,255,255,0) 100%);
    background-image:     -ms-linear-gradient( 0deg, rgba(71,71,71,1) 0%, rgba(71,71,71,.5) 70%, rgba(255,255,255,0) 100%);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    display: block;
    width: 0;
    overflow: hidden;
}
.moto_animate .moto_text {
    color: #ea443a;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    width: 770px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 18px;
    font-size: 22px;
}
.wrap_search.main_search .moto_text {
    width: 510px;
    letter-spacing: 10px;
}

.product_details {
    background: #f1efe9;
    border-radius: 0 0 4px 4px;
    border: 1px solid #dfdfd5;
    border-top: 0;
}
.product_details table {
    border-collapse: separate;
    border-spacing: 2px;
}
.product_details td {
    background-color: #fff;
    border: 1px solid #dfdfd5;
    padding: 5px 3px;
    text-align: center;
}
.product_details th {
    font-size: 14px;
    text-align: center;
}
.product_details th:first-child{
    text-align: left;
}
.product_details .col1 {
    width: 40px;
}
.product_details td.col2 {
    text-align: left;
}
.product_details .col3,
.product_details .col4,
.product_details .col5,
.product_details .col6,
.product_details .col7,
.product_details .col8  {
    min-width: 85px;
}
.search_small_img img {
    max-width: 100px;
    height: 30px;
}
/*formStyler*/
.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
}
.jq-selectbox span.error {
    top: 0;
}
.jq-selectbox__select {
    width: 70px;
    min-width: 30px;
    height: 28px;
    padding: 0 25px 0 10px;
    color: #545454;
    background: #ddd;
    border: 1px solid #c4c4c4;
    font: 13px/25px Arial, sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
}
.jq-selectbox.error .jq-selectbox__select {
    border-color: #e4514f;
}

.jq-selectbox.opened .jq-selectbox__select {
    border-radius: 4px 4px 0 0;
    background: #ededed;
}

.basket .jq-selectbox__select {
    width: 263px;
}

.jq-selectbox.disabled .jq-selectbox__select {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
}
.jq-selectbox__select-text {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.jq-selectbox .placeholder {
    color: #888;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 100%;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 10px;
    right: 6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {opacity: 1;filter: alpha(opacity=100);}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {opacity: 0.3;filter: alpha(opacity=30);}

.jq-selectbox__dropdown {
    top: 25px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #FFF;
    font: 13px/15px Arial, sans-serif;
    border: 1px solid #c4c4c4;
    border-radius: 0 0 4px 4px;
}
.jq-selectbox ul {
    margin: 0;
    padding: 0;
}
.jq-selectbox li {
    min-height: 18px;
    margin: 0;
    padding: 5px 10px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    white-space: nowrap;
    color: #231F20;
}
.jq-selectbox li:last-child {
    border-radius: 0 0 4px 4px;
}
.jq-selectbox li.selected {
    background-color: #A3ABB1;
    color: #FFF;
}
.jq-selectbox li:hover {
    background-color: #08C;
    color: #FFF;
}
.jq-selectbox li.disabled {
    color: #AAA;
}
.jq-selectbox li.disabled:hover {
    background: none;
}
.jq-selectbox li.optgroup {
    font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}
.jq-selectbox li.option {
    padding-left: 25px;
}

.dz-hidden-input {
    z-index: 99999;
}

.mainimage #ControlElements, .dropzone #ControlElements {
    position: absolute;
    top: -9px;
    right: -11px;
    z-index: 1;
}

.mainimage #ControlElements {
    right: 5px;
}

#ControlElements input {
	padding: 0 20px;
}

input[type=checkbox].dz-checkbox {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 1001;
    opacity: 1;
}

.dz-preview.checked .dz-details{
    box-shadow: 1px 1px 4px rgba(255, 197, 108, .7) !important;
    border-color: #FFBF5B !important;
    background: rgba(255, 239, 226, .8) !important;
}
.ui-sortable-helper input[type=checkbox].dz-checkbox {
    opacity: 0;
}
.ui-sortable-placeholder input[type=checkbox].dz-checkbox {
    opacity: 0;
}
.ui-sortable-helper {
    z-index: 1002 !important;
}

.overlayForm {
    /*position: absolute;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 9999;
    background: rgba(0,0,0,.7);
}
.modalForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    margin: 100px auto 0;
    width: 300px;
    height: 100px;
    background: #ebebeb;
    border-radius: 5px;
    border: 1px solid #acacac;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10000;
    text-align: center;
}
.modalForm_title {
    font-size: 15px;
    line-height: 20px;
    color: #4f4f4f;
    margin-bottom: 20px;
}
.modalForm_ans {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: #fff !important;
    color: #4f4f4f !important;
    padding: 5px 8px;
    text-decoration: none !important;
    text-transform: uppercase;
}
.modalForm_ans:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.overlay {
    background: rgba(0,0,0,.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
}
.overlay .overlay_content {
    position: absolute;
    width: 300px;
    height: 90px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    cursor: default;
    text-align: center;
}
.overlay .overlay_title {
    margin-bottom: 20px;
    text-align: left;
}
.overlay .btn {
    margin: 0 10px;
}
.overlay .btn.goToCart {
    color: #fff;
    background-color: #cc382d;
    background-image:    -moz-linear-gradient( 90deg, #cc382d 0%, #f1453a 100%);
    background-image: -webkit-linear-gradient( 90deg, #cc382d 0%, #f1453a 100%);
    background-image:     -ms-linear-gradient( 90deg, #cc382d 0%, #f1453a 100%);
    border: 0;
    height: 42px;
    line-height: 42px;
}
.overlay .btn.goToCart:hover {
    background: #cc382d;
}

.overlay .btn.goToBuy {
    color: #fff;
    background-color: #2990d7;
    background-image:    -moz-linear-gradient( 90deg, #2990d7 0%, #30abfa 100%);
    background-image: -webkit-linear-gradient( 90deg, #2990d7 0%, #30abfa 100%);
    background-image:     -ms-linear-gradient( 90deg, #2990d7 0%, #30abfa 100%);
    border: 0;
    height: 42px;
    line-height: 42px;
}
.overlay .btn.goToBuy:hover {
    background: #2990d7;
}